html{
          zoom: .8;
          background-color: whitesmoke;
  }
p {text-align: center; font-family:arial; color:black;}    

.calculate{
      background-color: slategrey;

  }
.center{
      font-size: 20px;
      margin: 0;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
.conversion_key{
      font-size: 19px;
      margin: 0;
      position: absolute;
      top: 88%;
      left: 6%;
      transform: translate(-50%, -50%);
  }
.lowerhalf{
      font-size: 19px;
      margin: 0;
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
.lowheader{
      font-size: 19px;
      margin: 0;
      position: absolute;
      top: 76%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
 .cell{
     width: 60px;
 }